.map {
/*	height:  75vh;
	width :  74vw;
*/
	height: 500px;
	width: 500px;

	min-height:500px;
	min-width:500px;

}

div.directions {
  background-color: white;
  width: inherit;
  max-height: 56.5vh;
  overflow-y:auto;
}

.menu {
	width: 150px;
	box-shadow: 3px 3px 5px #888888;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	border-radius: 2px;
	position: fixed;
	display: none;
}

.menu-item {
	height: 20px;
	background-color: white;
}

.menu-item:hover {
	background-color: #6CB5FF;
	cursor: pointer;
}

img.logoHeader {
	position: relative;
	right: 2%;
	width: 8%;
	height: 8%;		
	min-width:100px;
	min-height:100px;
}


.jumbotron {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}





/* ------------------ */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}





/* SLIDER */


.slidecontainer {
  width: 95%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}



/* */
.rangertooltip
{
  position: absolute;
  width: 20px;
  height: 15px;
  background: black;
  color: white;
  font-size: 13px;
  z-index: 20;
  padding: 3px;
  text-align: center;
}
</style>









